/* Mobile-S */
@media all and (max-width:320px) {

    .f-social-img {
        width: 20px;
    }

    #newsletter input, #newsletter label {
        width: 230px;
        font-size: 13px;
        margin-left: -279px;
    }

    .footer-nav-list {
        font-size: 11px;
        margin-left: -283px;
    }

    .copyright {
        font-size: 11px;
    }

    #newsletter button {
        top: 123px;
        left: -19px;
        width: 26px;
        height: 26px;
        font-size: 8px;
    }

    #newsletter input+label:after {
        left: -265px;
        bottom: 38px;
    }

    .contact {
        left: 108px;
        bottom: -2375px;
    }

    .slider {
        margin-top: 549px;
    }
}

/* Mobile-M */
@media all and (max-width:375px) {
    .f-social-img {
        width: 33px;
    }

    #newsletter input, #newsletter label {
        margin-left: -345px;
    }

    #newsletter button {
        left: -21px;
    }

    .footer-nav-list {
        font-size: 13px;
        margin-left: -323px;
    }

    .copyright {
        margin: 136px 0 23px 37px;
        font-size: 13px;
    }

    #newsletter input+label:after {
        left: -332px;
    }

    .contact {
        left: 138px;
        bottom: -2085px;
    }

    .slider {
        margin-top: 515px;
    }
}

/* Mobile-L */
@media all and (max-width:425px) {

    .body-wrapper {
        min-height: 100%;
        overflow: hidden;
    }


    .map iframe {
        width: 100vw;
    }

    .container-article {
        margin-bottom: 40px;
    }

    .slider {
        margin-top: 484px;
        margin-left: 12px;
    }

    .swiper {
        width: 80%;
    }

    .nav {
        flex-direction: column;
    }

    .nav-item {
        height: 45px;
        width: 130px;
        font-size: 24px;
        margin-top: 13px;
        margin-right: 15px;
    }

    .navigation {
        flex-direction: column;
    }

    .social-img {
        width: 200%;
    }

    .social {
        justify-content: space-between;
        margin: 10px 0 10px -13px;
    }

    .heading-img {
        width: 42px;
        top: 52px;
        left: 6px;
    }

    .title-h {
        font-size: 23px;
    }

    .container-heading {
        top: 423px;
    }

    .container-article {
        margin-bottom: 40px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }

    .article {
        width: 100%;
        overflow-wrap: normal;
        font-size: 24px;
        font-weight: 600;
    }

    .article-head {
        font-size: 36px;
    }

    .flexbox-img {
        display: none;
    }

    .f-social-img {
        width: 45px;
    }

    .footer-social {
        margin: 25px 0 25px 29px;
    }

    #newsletter input {
        padding: 9.5px 0 10.5px 60px;
        margin: 100px 0 0 -440px;
    }

    #newsletter input, #newsletter label {
        width: 310px;
        font-size: 17px;
        margin-left: -366px;
    }

    #newsletter input+label:after {
        left: -355px;
        bottom: 43px;
    }

    #newsletter button {
        top: 125px;
        left: -43px;
        width: 42px;
        height: 27px;
        font-size: 13px;
    }

    .footer-nav-list {
        font-size: 16px;
        margin-left: -370px;
        margin-top: -20px;
    }

    .copyright {
        margin: 136px 0 35px 50px;
        font-size: 14px;
    }

    .contact {
        left: 161px;
        bottom: -1938px;
    }

    .article-wrapper-first {
        margin-right: 0;
    }

}

/* Tablet */
@media all and (max-width:768px) {

    /* Target portrait smartphones */

    .screen-first {
        min-width: 100%;
    }


    .nav {
        margin: 0px 0px 0 15px;
    }

    .title-h {
        font-size: 35px;
    }

    .container-heading {
        left: 60px;
    }

    .heading-img {
        width: 51px;
        top: 43px;
        left: 6px;
    }

    .title-p {
        font-size: 22px;
        top: 71px;
        left: 2px;
    }


    .ar-wrapper {
        padding-left: 0;
    }

    .article-wrapper-first {
        margin-right: 34px;
    }

    .article {
        width: 235px;
        overflow-wrap: normal;
        font-size: 11px;
    }

    iframe {
        width: 768px;
    }

    .contact {
        width: 100px;
        left: 328px;
        bottom: -1080px;
    }

    .contact div {
        width: 30px;
        height: 30px;
    }

    .footer-social {
        margin: 25px 0 25px 32px;
    }

    .copyright {
        margin: 0px 0 20px 32px;
        font-size: 10px;
    }

    #newsletter input {
        padding: 10.5px 0 10.5px 60px;
        margin: 20px 0 0 30px;
    }

    #newsletter input, #newsletter label {
        width: 335px;
        font-size: 10px;
    }

    #newsletter input+label:after {
        left: 45px;
        bottom: 38px;
    }

    #newsletter button {
        top: 45px;
        left: 365px;
        width: 50px;
        height: 20px;
        font-size: 12px;
    }

    .footer-nav-list {
        font-size: 10px;
        margin-left: 137px;
        margin-top: 7px;
    }

    .screen-container {
        height: 300px;
    }

    .slider {
        margin-top: 639px;
        margin-left: 48px;
    }

    .swiper {
        width: 60%;
    }
}

/* Notebook */
@media all and (min-width:1024px) {


    .body-wrapper {
        min-height: 100%;
        overflow: hidden;
    }

    .nav {
        margin: 0 90px 0 90px;
    }

    .container-heading {
        bottom: 509px;
        left: 100px;
        right: 0px;
        width: 64.85%;
    }

    .slider {
        margin-top: 571px;
        margin-left: -712px;
    }

    .article {
        width: 240px;
    }

    .footer-social {
        margin: 47px 0 68px 50px;
    }

    #newsletter input, #newsletter label {
        width: 419px;
    }

    #newsletter input {
        margin: 30px 300px 0 152px;
    }

    #newsletter input+label:after {
        left: 174px;
    }

    .footer-nav-list {
        margin-left: 316px;
    }

    .copyright {
        margin: 0 0 25px 49px;
        font-size: 12px;
    }

    #newsletter button {
        top: 56px;
        left: 560px;
    }

    .contact {
        left: 432px;
        bottom: -1270px;
    }

    .map iframe {
        width: 100vw;
    }
}

/* Notebook-L */
@media all and (min-width:1440px) {

    .body-wrapper {
        min-height: 100%;
        overflow: hidden;
    }

    .nav {
        margin: 0 491px 0 101px;
    }

    .container-heading {
        left: 203px;
    }

    .slider {
        margin-top: 596px;
        margin-left: -282px;
    }

    .map iframe {
        width: 100vw;
    }

    .footer-social {
        margin: 37px 0 68px 117px;
    }

    .copyright {
        margin: 0 0 25px 118px;
        font-size: 12px;
    }

    .contact {
        left: 641px;
        bottom: -1260px;
    }

    #newsletter input {
        margin: 30px 300px 0 433px;
    }

    .footer-nav-list {
        margin-left: 600px;
        margin-top: 26px;
    }

    #newsletter button {
        left: 844px;
    }

    #newsletter input+label:after {
        left: 453px;
    }

}

/* 1920 */
@media all and (min-width:1920px) {

    .nav {
        margin: 0 491px 0 346px;
    }

    .container-heading {
        top: 199px;
        height: 175px;
        bottom: 509px;
        left: 355px;
        right: 0px;
        width: 53.85%;
    }

    .slider {
        margin-top: 613px;
        margin-left: 368px;
    }

    .article {
        width: 363px;
    }

    .footer-social {
        margin: 47px 0 68px 386px;
    }

    .copyright {
        margin: 0 0 25px 385px;
        font-size: 12px;
    }

    .contact {
        left: 882px;
        bottom: -1050px;
    }


}