@media all and (max-width:768px) {

    /* Target portrait smartphones */

    .screen-first {
        min-width: 100%;
    }


    .nav {
        margin: 0px 0px 0 15px;
    }

    .title-h {
        font-size: 35px;
    }

    .container-heading {
        left: 60px;
    }

    .heading-img {
        width: 51px;
        top: 43px;
        left: 6px;
    }

    .title-p {
        font-size: 22px;
        top: 71px;
        left: 2px;
    }


    .ar-wrapper {
        padding-left: 0;
    }

    .article-wrapper-first {
        margin-right: 34px;
    }

    .article {
        width: 235px;
        overflow-wrap: normal;
        font-size: 11px;
    }

    iframe {
        width: 768px;
    }

    .contact {
        width: 100px;
        left: 328px;
        bottom: -1400px;
    }

    .contact div {
        width: 30px;
        height: 30px;
    }

    .footer-social {
        margin: 25px 0 25px 20px;
    }

    .copyright {
        margin: 0px 0 20px 20px;
        font-size: 10px;
    }

    #newsletter input {
        padding: 10.5px 0 10.5px 60px;
        margin: 20px 0 0 30px;
    }

    #newsletter input, #newsletter label {
        width: 335px;
        font-size: 10px;
    }

    #newsletter input+label:after {
        left: 45px;
        bottom: 38px;
    }

    #newsletter button {
        top: 45px;
        left: 365px;
        width: 50px;
        height: 20px;
        font-size: 12px;
    }

    .footer-nav-list {
        font-size: 10px;
        margin-left: 137px;
        margin-top: 7px;
    }

    .screen-container {
        height: 300px;
    }

    .swiper {
        width: 60%;
    }



}

@media all and (max-width:425px) {


    .map iframe {
        width: 200vw;
    }

    .container-article {
        margin-bottom: 40px;
    }

    .slider {
        margin-top: 400px;
        margin-left: 12px;
    }

    .swiper {
        width: 80%;
    }

    .nav {
        flex-direction: column;
    }

    .nav-item {
        height: 45px;
        width: 130px;
        font-size: 24px;
        margin-top: 13px;
        margin-right: 15px;
    }

    .navigation {
        flex-direction: column;
    }

    .social-img {
        width: 200%;
    }

    .social {
        justify-content: space-between;
        margin: 10px 0 10px -13px;
    }

    .heading-img {
        width: 42px;
        top: 52px;
        left: 6px;
    }

    .title-h {
        font-size: 23px;
    }

    .container-heading {
        top: 423px;
    }

    .container-article {
        margin-bottom: 40px;
        margin-left: 230px;
        display: flex;
        flex-direction: column;
    }

    .article {
        width: 424px;
        overflow-wrap: normal;
        font-size: 24px;
        font-weight: 600;
    }

    .article-head {
        font-size: 36px;
    }

    .flexbox-img {
        display: none;
    }

    .f-social-img {
        width: 60px;
    }

    .footer-social {
        margin: 25px 0 25px 220px;
    }

    #newsletter input {
        padding: 9.5px 0 10.5px 60px;
        margin: 100px 0 0 -440px;
    }

    #newsletter input, #newsletter label {
        width: 391px;
        font-size: 21px;
    }

    #newsletter input+label:after {
        left: -426px;
        bottom: 48px;
    }

    #newsletter button {
        top: 128px;
        left: -51px;
        width: 54px;
        height: 27px;
        font-size: 18px;
    }

    .footer-nav-list {
        font-size: 21px;
        margin-left: -444px;
        margin-top: -20px;
    }

    .copyright {
        margin: 136px 0 35px 235px;
        font-size: 17px;
    }

}